<html>
<head>
  <meta charset="utf-8">
  <title>Slimane Chat For IOSDC</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" media="all">
  <link rel="stylesheet" href="/stylesheets/bootstrap-social.min.css" media="all">
  <link rel="stylesheet" href="/stylesheets/font-awesome.css" media="all">
  <link rel="stylesheet" href="/stylesheets/chat.css" media="all">

  <script>
    var roomName = "{{roomName}}";
    var currentUser = {{{currentUser}}};
  </script>
</head>
  <body>

    <header id="header">
      <div class="container">
        <img id="logo" alt="Slimane" src="/images/Slimane_wide.jpg">
      </div>
    </header>

    <section id="middle-area">
      <div class="container">
        <div id="msgs"></div>
      </div>
    </section>

    <section id="bottom-area">
      <div class="container">
        <form id="form">
          <textarea id="message-input" class="form-control" placeholder="Write a reply..."></textarea>
          <button type="submit" class="btn btn-warning pull-right"><i class="fa fa-paper-plane"></i> Send Message</button>
      </div>
    </section>

    <script id="chat-cell" type="text/template">
      <div class="msg">
        <img class="msg-icon" src="<%= message.get('user').avatar_url %>">
        <div class="msg-body">
          <small class="msg-name"><%= message.get('user').name %></small>
          <p class="msg-text"><%= message.get("message").replace('\n', '<br>') %></p>
          <small class="msg-date"><i class="fa fa-clock-o"></i></small>
        </div>
      </div>
    </script>

    <script type="text/javascript" src="/javascripts/lodash.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/backbone.min.js"></script>
    <script type="text/javascript" src="/javascripts/chat.js"></script>
  </body>
</html>
