#header {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: #fff;
  box-shadow: 5px 0 5px #aaa;
  z-index: 100;
}

#logo {
  width: 150px;
}

#middle-area {
  margin-top: 70px;
  margin-bottom: 160px;
}

.msg {
  position: relative;
}

.msg + .msg {
  margin-top: 20px;
}

.msg-icon {
  width: 48px;
  height: 48px;
  border: 1px solid #eee;
  border-radius: 5px;
}

.msg-body {
  margin: -50px 0 0 60px;
}

.msg-name {
  font-size: 13px;
  font-weight: bold;
}

.msg-text {
  font-size: 19px;
  padding: 3px 0;
}

.msg-date {
  position: absolute;
  right: 0;
  top: 2px;
}

#bottom-area {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: -5px 0 5px #aaa;
}

#form textarea {
  height: 80px;
}

#form button[type="submit"] {
  margin-top: 10px;
}
